In [3]:
import pandas as pd
import numpy as np

### Adapter and 5 leftmost bases trimming results - bbduk

In [171]:
bbduk_out = pd.read_csv('data56_related_files/total_removed.tsv', sep = '\t', header = None)

In [173]:
bbduk_out.head()

                          0                      1                        2
0  Total Removed:            284094 reads (0.30%)   688762478 bases (4.78%)
1  Total Removed:            159254 reads (0.17%)   615379398 bases (4.37%)
2  Total Removed:            146962 reads (0.14%)   862174844 bases (5.61%)
3  Total Removed:            137792 reads (0.16%)   716070478 bases (5.40%)
4  Total Removed:             32452 reads (0.04%)   721948044 bases (5.89%)

In [7]:
def get_summary(df):
    df = df.iloc[: , 1:]
    df.columns = ['removed_reads', 'removed_bases']
    df[['#_bases','%_bases']] = df.removed_bases.str.split("(",expand=True)
    df[['#_reads','%_reads']] = df.removed_reads.str.split("(",expand=True)
    
    df['%_reads'] = df['%_reads'].str.replace(')', '')
    df['%_bases'] = df['%_bases'].str.replace(')', '')
    df['%_reads'] = df['%_reads'].str.replace('%', '')
    df['%_bases'] = df['%_bases'].str.replace('%', '')
    df['#_bases'] = df['#_bases'].str.replace(' bases ', '')
    df['#_reads'] = df['#_reads'].str.replace(' reads ', '')
    
    df = df.iloc[: , 2:]
    
    df['#_bases'] = df['#_bases'].astype(int)
    df['#_reads'] = df['#_reads'].astype(int)
    df['%_bases'] = df['%_bases'].astype(float)
    df['%_reads'] = df['%_reads'].astype(float)
    
    percentage_zero = df['#_bases'][df['#_bases'] == 0].count()/len(df) * 100
#     print('Number of rows where bases are zero', df['#_bases'][df['#_bases'] == 0].count())
#     print('Lenght of df', len(df))
    print('percentage of rows equal to zero', percentage_zero)
    
    print('summary before dropping rows with zero')
    print(df.describe())
    
    df = df[(df != 0).all(1)]
    
    return df.describe()

In [203]:
get_summary(bbduk_out)

percentage of rows equal to zero 0.0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

            #_bases    %_bases        #_reads    %_reads
count  5.600000e+01  56.000000      56.000000  56.000000
mean   4.412802e+08   4.783036   38907.392857   0.043036
std    4.020846e+08   1.685500   73641.969435   0.085619
min    5.808046e+07   3.380000       0.000000   0.000000
25%    1.562318e+08   3.497500      70.000000   0.000000
50%    2.037352e+08   4.075000     621.000000   0.000000
75%    7.311362e+08   5.542500   50446.000000   0.052500
max    1.484261e+09   9.890000  374232.000000   0.480000

### Low Quality  removal results - sickle

In [133]:
sickle_out = pd.read_csv('data56_related_files/sickle_output', sep = '\t', header = None)

In [134]:
sickle_out.columns = ['temp']

In [135]:

sickle_out

                                                  temp
0    ==============================================...
1                          BeeOND mounts, if requested
2    FastQ paired records kept: 91976576 (45988288 ...
3    FastQ single records kept: 1494564 (from PE1: ...
4    FastQ paired records discarded: 270528 (135264...
..                                                 ...
247  FastQ single records discarded: 174425 (from P...
248  FastQ paired records kept: 38737226 (19368613 ...
249  FastQ single records kept: 177689 (from PE1: 1...
250  FastQ paired records discarded: 34876 (17438 p...
251  FastQ single records discarded: 177689 (from P...

[252 rows x 1 columns]

In [136]:
sickle_out = sickle_out[sickle_out['temp'].str.contains("discarded")]

In [137]:
sickle_out[['describtion','count']] = sickle_out.temp.str.split(":",1 ,expand=True)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [138]:
sickle_out= sickle_out.iloc[:, 1:]

In [139]:

sickle_out['count'] = sickle_out['count'].str.split('(').str[0]

In [140]:
sickle_out

                        describtion      count
4    FastQ paired records discarded    270528
5    FastQ single records discarded   1494564
12   FastQ paired records discarded    199324
13   FastQ single records discarded   1406578
20   FastQ paired records discarded    385968
..                              ...        ...
243  FastQ single records discarded    161926
246  FastQ paired records discarded     27682
247  FastQ single records discarded    174425
250  FastQ paired records discarded     34876
251  FastQ single records discarded    177689

[112 rows x 2 columns]

In [156]:
one = list(range(1,57,1))
two = list(range(1,57,1))

double_index = (one + two)

In [161]:
print(double_index)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10, 11, 11, 12, 12, 13, 13, 14, 14, 15, 15, 16, 16, 17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23, 24, 24, 25, 25, 26, 26, 27, 27, 28, 28, 29, 29, 30, 30, 31, 31, 32, 32, 33, 33, 34, 34, 35, 35, 36, 36, 37, 37, 38, 38, 39, 39, 40, 40, 41, 41, 42, 42, 43, 43, 44, 44, 45, 45, 46, 46, 47, 47, 48, 48, 49, 49, 50, 50, 51, 51, 52, 52, 53, 53, 54, 54, 55, 55, 56, 56]

In [162]:
sickle_out['index1'] = double_index

In [165]:
sickle_out = sickle_out.pivot(index='index1', columns='describtion', values='count')

In [168]:
sickle_out['FastQ paired records discarded'] = sickle_out['FastQ paired records discarded'].astype(int)
sickle_out['FastQ single records discarded'] = sickle_out['FastQ single records discarded'].astype(int)

In [169]:
sickle_out.describe()

describtion  FastQ paired records discarded  FastQ single records discarded
count                             56.000000                    5.600000e+01
mean                          154949.535714                    6.005990e+05
std                           225489.706853                    8.150042e+05
min                                8.000000                    0.000000e+00
25%                              148.500000                    0.000000e+00
50%                              679.000000                    0.000000e+00
75%                           343662.500000                    1.409318e+06
max                           787614.000000                    2.176090e+06

### PhiX Contamination removal

In [182]:
PhiX_out = pd.read_csv('data56_related_files/total_removed_PhiX2', sep = '\t', header = None)

In [183]:
PhiX_out.head()

                          0                      1                       2
0  Total Removed:            386068 reads (0.42%)   53565190 bases (0.41%)
1  Total Removed:            180020 reads (0.20%)   24421929 bases (0.19%)
2  Total Removed:            135080 reads (0.14%)   18122034 bases (0.13%)
3  Total Removed:            221184 reads (0.26%)   30276343 bases (0.25%)
4  Total Removed:            224114 reads (0.28%)   30666282 bases (0.28%)

In [212]:
get_summary(PhiX_out)

percentage of rows equal to zero 64.28571428571429
summary before dropping rows with zero             #_bases     %_bases        #_reads     %_reads
count  1.120000e+02  112.000000     112.000000  112.000000
mean   3.096687e+06    0.256339   24081.526786    0.275714
std    7.538462e+06    0.538026   55546.376035    0.571812
min    0.000000e+00    0.000000       0.000000    0.000000
25%    0.000000e+00    0.000000       0.000000    0.000000
50%    0.000000e+00    0.000000       0.000000    0.000000
75%    2.815548e+06    0.102500   23193.250000    0.112500
max    5.356519e+07    2.330000  386068.000000    2.410000

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

            #_bases    %_bases        #_reads    %_reads
count  4.000000e+01  40.000000      40.000000  40.000000
mean   8.670723e+06   0.717750   67428.275000   0.772000
std    1.059114e+07   0.695854   76051.185445   0.733244
min    1.428957e+06   0.030000   12729.000000   0.040000
25%    2.726785e+06   0.077500   22653.250000   0.087500
50%    3.975784e+06   0.520000   32675.500000   0.575000
75%    9.286109e+06   1.292500   78988.000000   1.435000
max    5.356519e+07   2.330000  386068.000000   2.410000

### Host contamination removal

In [25]:
host_contam = pd.read_csv("data56_related_files/result_host_contam.tsv", header=None, sep='\t')

In [26]:
host_contam = host_contam.iloc[: , 1:]

host_contam.rename(columns={1: '%_reads', 2: '#_reads', 3: '%_bases', 4: '#_bases'}, inplace=True)

In [27]:
host_contam

        %_reads  #_reads     %_bases   #_bases
0      0.6519%      9543    0.5905%    1133058
1      2.1601%     30118    1.9565%    3699990
2      0.3731%      5160    0.3448%     651744
3      6.0397%     76132    5.6171%    9149025
4      2.9842%     32344    2.6213%    3817675
..          ...      ...         ...       ...
163    1.7626%    331789    1.7499%   47409797
164    3.1650%    613022    3.1329%   87520791
165    3.1619%    612423    3.1178%   86933034
166    0.0102%       898    0.0093%     115623
167    0.0110%       963    0.0093%     110170

[168 rows x 4 columns]

In [32]:
host_contam['%_reads'] = host_contam['%_reads'].str.replace('%', '').astype(float)
host_contam['%_bases'] = host_contam['%_bases'].str.replace('%', '').astype(float)

In [33]:
host_contam

     %_reads  #_reads  %_bases   #_bases
0     0.6519     9543   0.5905   1133058
1     2.1601    30118   1.9565   3699990
2     0.3731     5160   0.3448    651744
3     6.0397    76132   5.6171   9149025
4     2.9842    32344   2.6213   3817675
..       ...      ...      ...       ...
163   1.7626   331789   1.7499  47409797
164   3.1650   613022   3.1329  87520791
165   3.1619   612423   3.1178  86933034
166   0.0102      898   0.0093    115623
167   0.0110      963   0.0093    110170

[168 rows x 4 columns]

In [34]:
host_contam.describe()

          %_reads       #_reads     %_bases       #_bases
count  137.000000  1.680000e+02  137.000000  1.680000e+02
mean     1.172824  2.100958e+05    1.111686  2.784572e+07
std      2.114437  4.287611e+05    2.045557  5.841571e+07
min      0.001900  0.000000e+00    0.001600  0.000000e+00
25%      0.005300  4.642500e+02    0.004800  4.994675e+04
50%      0.415500  2.411000e+03    0.390000  2.793455e+05
75%      1.552300  1.931608e+05    1.421400  2.717748e+07
max     16.605100  2.055838e+06   16.087200  2.850982e+08

#### Adding index to the sample names for reference to bins

In [213]:
samplenames = pd.read_csv("data56_related_files/sampleNames.txt", header = None)

In [215]:
samplenames.to_csv("data56_related_files/sampleNamesIndex.txt", header = None)