### Basic functions
this notebook is used for basic calculations

    - Adding read counts when counted in terminal
    - dividing reads to get only the value of forward read.

In [2]:
import pandas as pd 
import numpy as np

#### adding readcounts from a list

In [3]:
def summing_numbers_in_file(filepath):
    f = open(filepath, "r")
    file = f.read()
    
    fileList = file.split("\n")
   
    # removing items that is not numeric 
    for l in fileList:
        if l.isnumeric()==False:
            fileList.remove(l)
            
    fileIntList = list(map(int, fileList)) 
    
    return sum(fileIntList)

In [4]:
def summing_numbers_with_more_seperators(filepath, seperator):

    f = open(filepath, "r")
    file = f.read()
    
    fileList = file.split("\n")
    
    fileList_split = [i.split(seperator, 1)[1] for i in fileList]

    # removing items the is not numeric 
    for l in fileList_split:
        if l.isnumeric()==False:
            fileList_split.remove(l)
            
    fileIntList = list(map(int, fileList_split)) 
    
    return sum(fileIntList)

In [5]:
singles_count = summing_numbers_in_file("count_singles.list")

In [6]:
r1_count = summing_numbers_in_file("count_r1.list")

In [7]:
r1_count

5850393084

In [8]:
total_count = r1_count * 2 + singles_count

In [9]:
reads_count = total_count/4

In [10]:
reads_count

2957817888.0

In [11]:
contigs_count = summing_numbers_with_more_seperators("count_contigs.list", ":")

In [12]:
# contigs_count only contains headers so no furhter calculations needed 
print(contigs_count)

31217582

In [13]:
raw_reads_R1 = summing_numbers_in_file("count_rawreads_R1.list")

In [14]:
(raw_reads_R1 * 2) /4

3042581492.0

### Dividing the reads in two

In [36]:
NZ_reads = pd.read_csv('3regionData/Sample_Rawreads_NZ.tsv', sep = '\t')

In [37]:
NZ_reads['#Rawreads'] = NZ_reads['#Rawreads'].astype(int)

In [38]:
NZ_reads['#Rawreads']

0      265275932
1      261070644
2      259086484
3      246402572
4      244068892
         ...
316    102916696
317     99312498
318     98078308
319     96545846
320     42722198
Name: #Rawreads, Length: 321, dtype: int64

In [39]:
NZ_reads['#Rawreads'] = NZ_reads['#Rawreads']/2

In [40]:
NZ_reads['#Rawreads'] = NZ_reads['#Rawreads'].astype(int)

In [41]:
NZ_reads

          Sample  #Rawreads
0      F1606-058  132637966
1      F1604-045  130535322
2      F1604-007  129543242
3      F1605-009  123201286
4      F1604-022  122034446
..           ...        ...
316    F1513-219   51458348
317    F1602_059   49656249
318    F1604_039   49039154
319  F1608_001_3   48272923
320    F1513-078   21361099

[321 rows x 2 columns]

In [26]:
NZ_reads.to_csv('NZ_samples_1read_ID.csv', index=False)