In [1]:
#! /usr/local/opt/python/bin/python3.7 -m pip install -U matplotlib
#! /usr/local/opt/python/bin/python3.7 -m pip install seaborn

In [304]:
import pandas as pd 
import numpy as np

#### Reading and opening CheckM results file with completeness and contamination values

In [313]:
df = pd.read_csv("data56_related_files/CheckM_results_file", sep = '\t')

In [314]:
df

,Bin Id,Marker lineage,# genomes,# markers,# marker sets,0,1,2,3,4,5+,Completeness,Contamination,Strain heterogeneity
0,S10C10200,root (UID1),5656,56,24,56,0,0,0,0,0,0.00,0.00,0.0
1,S10C1032,o__Bacteroidales (UID2654),163,486,266,298,186,2,0,0,0,38.94,0.38,0.0
2,S10C1039,o__Lactobacillales (UID355),490,334,183,3,331,0,0,0,0,98.91,0.00,0.0
3,S10C1094,k__Bacteria (UID203),5449,104,58,92,12,0,0,0,0,14.66,0.00,0.0
4,S10C10947,root (UID1),5656,56,24,56,0,0,0,0,0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960,S9C86,c__Bacilli (UID285),586,325,181,45,272,8,0,0,0,85.55,2.23,25.0
2961,S9C8881,o__Bacteroidales (UID2657),160,492,269,58,431,3,0,0,0,88.01,0.63,0.0
2962,S9C92,o__Actinomycetales (UID1572),580,286,172,11,275,0,0,0,0,96.12,0.00,0.0
2963,S9C962,o__Campylobacterales (UID3068),106,477,284,13,463,1,0,0,0,96.30,0.18,100.0
2964,S9C99,o__Selenomonadales (UID1024),64,334,167,103,227,4,0,0,0,78.94,2.10,50.0

In [272]:
df.Completeness = df.Completeness.astype(float)
df.Contamination = df.Contamination.astype(float)

#### Generating columns based on bin quality - later used for plotting in  BinPlotWithQuality.ipynb

In [17]:
print(max(df.Completeness))
print(max(df.Contamination))

100.0
265.69

In [18]:
query = 100
df.query('Contamination > %d' %query)

,Bin_Id,Marker_lineage,#_genomes,#_markers,#_marker_sets,0,1,2,3,4,5+,Completeness,Contamination,Strain heterogeneity
143,S12C3084,k__Bacteria_(UID203),5449,104,58,1,19,13,70,1,0,98.28,181.22,27.51
1493,S36C456,k__Bacteria_(UID203),5449,102,57,3,21,23,27,20,8,97.93,206.56,17.11
2479,S53C1778,k__Bacteria_(UID203),5449,104,58,2,30,21,16,17,18,98.28,265.69,26.72
2804,S8C1094,k__Bacteria_(UID203),5449,104,58,1,6,40,56,1,0,99.66,176.99,28.50

In [20]:
#removing the bins with contamination above 100%

def drop_at_index(df, indexList):
    indexList.sort(reverse=True)
    for i in indexList:
        df = df.drop(i) 
#         print(df.query('Contamination > %d' %100))
    return df

In [21]:
indexList = [143, 1493, 2479, 2804]
df_cont_below_100 = drop_at_index(df, indexList)

In [22]:
#adding an extra column to define the colors in the scatterplot
# 0 = highQ, 1 = mediumHigh, 2 = mediumLow, 3 = low 
def conditions(s):
    
    QS = s['Completeness'] - (5 * s['Contamination'])
    
    if (s['Contamination'] < 5) and (s['Completeness'] > 90):
        return int(0)
    elif (s['Contamination'] < 10) and (s['Completeness'] > 50) and QS > 50:
        return int(1)
    elif (s['Contamination'] < 10) and (s['Completeness'] > 50) and QS <= 50:
        return int(2)
    else:
        return int(3)

In [23]:
df_cont_below_100['bin_class'] = df_cont_below_100.apply(conditions, axis=1)
df['bin_class'] = df.apply(conditions, axis=1)

In [24]:
df_cont_below_100.head(10)

,Bin_Id,Marker_lineage,#_genomes,#_markers,#_marker_sets,0,1,2,3,4,5+,Completeness,Contamination,Strain heterogeneity,bin_class
1,S10C10200,root_(UID1),5656,56,24,56,0,0,0,0,0,0.00,0.00,0.00,3
2,S10C1032,o__Bacteroidales_(UID2654),163,486,266,298,186,2,0,0,0,38.94,0.38,0.00,3
3,S10C1039,o__Lactobacillales_(UID355),490,334,183,3,331,0,0,0,0,98.91,0.00,0.00,0
4,S10C1094,k__Bacteria_(UID203),5449,104,58,92,12,0,0,0,0,14.66,0.00,0.00,3
5,S10C10947,root_(UID1),5656,56,24,56,0,0,0,0,0,0.00,0.00,0.00,3
6,S10C1113,o__Lactobacillales_(UID355),490,332,181,1,331,0,0,0,0,99.45,0.00,0.00,0
7,S10C119,o__Lactobacillales_(UID375),177,350,163,86,261,3,0,0,0,71.36,1.07,100.00,1
8,S10C1295,o__Campylobacterales_(UID3068),106,477,284,224,249,4,0,0,0,52.55,0.66,25.00,2
9,S10C1297,o__Lactobacillales_(UID374),471,350,191,8,341,1,0,0,0,96.60,0.26,0.00,0
10,S10C13511,root_(UID1),5656,56,24,56,0,0,0,0,0,0.00,0.00,0.00,3

In [26]:
#adding an extra column to define bins in the barplot
# 0 = highQ, 1 = middel, 2 = Low 
def classConditions(s):
    
    if (s['bin_class'] == 0):
        return int(0)
    elif (s['bin_class'] <= 2 and s['bin_class'] >= 1):
        return int(1)
    else:
        return int(2)

In [27]:
df_cont_below_100['class_3'] = df_cont_below_100.apply(classConditions, axis=1)
df['class_3'] = df.apply(classConditions, axis=1)

In [28]:
df_cont_below_100.head(3)

,Bin_Id,Marker_lineage,#_genomes,#_markers,#_marker_sets,0,1,2,3,4,5+,Completeness,Contamination,Strain heterogeneity,bin_class,class_3
1,S10C10200,root_(UID1),5656,56,24,56,0,0,0,0,0,0.00,0.00,0.00,3,2
2,S10C1032,o__Bacteroidales_(UID2654),163,486,266,298,186,2,0,0,0,38.94,0.38,0.00,3,2
3,S10C1039,o__Lactobacillales_(UID355),490,334,183,3,331,0,0,0,0,98.91,0.00,0.00,0,0

In [29]:
df.head(3)

,Bin_Id,Marker_lineage,#_genomes,#_markers,#_marker_sets,0,1,2,3,4,5+,Completeness,Contamination,Strain heterogeneity,bin_class,class_3
1,S10C10200,root_(UID1),5656,56,24,56,0,0,0,0,0,0.00,0.00,0.00,3,2
2,S10C1032,o__Bacteroidales_(UID2654),163,486,266,298,186,2,0,0,0,38.94,0.38,0.00,3,2
3,S10C1039,o__Lactobacillales_(UID355),490,334,183,3,331,0,0,0,0,98.91,0.00,0.00,0,0

##### Making lists of the good and middle quality bins

In [31]:
# df_HighQ = df.loc[df["bin_class"] == 0]

In [32]:
# df_HighMiddleQ =  df.loc[df["bin_class"] < 3]

In [33]:
# df_HighQ["Bin_Id"].to_csv("highQ_bins", index=False)

In [34]:
# df_HighMiddleQ["Bin_Id"].to_csv("high_middle_Q_bins", index=False)

In [299]:
df.groupby('bin_class').count()

,Bin_Id,Marker_lineage,#_genomes,#_markers,#_marker_sets,0,1,2,3,4,5+,Completeness,Contamination,Strain heterogeneity,class_3
bin_class,,,,,,,,,,,,,,,
0,609,609,609,609,609,609,609,609,609,609,609,609,609,609,609
1,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682
2,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73
3,1601,1601,1601,1601,1601,1601,1601,1601,1601,1601,1601,1601,1601,1601,1601

#### Saving df for later plotting in BinPlotWithQuality.ipynb

In [300]:
df.to_csv('data56_related_files/Contamination_completness_df.csv', index = False)

In [301]:
df_cont_below_100.to_csv('data56_related_files/ContaminationMax100_completness_df.csv', index = False)